body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.container {
    background: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: 60px; 
}

h1 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

input {
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.1em;
    color: #333;
}

.error {
    color: red;
}

/* Colores para los estados */
.status-recolectado { color: #8A2BE2; }
.status-en-consolidado { color: #FFA500; }
.status-ingresa-a-aerolinea { color: #0000FF; }
.status-en-espera-de-turno { color: #DC143C; }
.status-proceso-de-aforo { color: #808000; }
.status-salida-de-aduana { color: #32CD32; }
.status-en-clasificacion { color: #4B0082; }
.status-lista-para-envio { color: #00BFFF; }
.status-entregado { color: #2E8B57; }

/* Colores para las ubicaciones */
.location-ecuador { color: #DAA520; }
.location-estados-unidos { color: #00008B; font-weight: bold; }
.location-en-transito { color: #A9A9A9; }

/* Estilos para el texto de resultado */
.package-info p {
    margin: 5px 0;
}

.flag-icon {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

/* Estilos para el pie de página */
.footer {
    background-color: #9e0506;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
}

.footer a {
    color: white; /* Para que los enlaces sean blancos */
    text-decoration: none; /* Quita el subrayado */
}